.Servicepagebody{
    min-height: 100vh;
    background-image: url('/src/assets/images/header_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.529);
    background-blend-mode: multiply;
    height: 100px;
    
}
    
.Service-box{
    background-color: aliceblue;

  }
.Servicepagebody > .container{
    height: 100%;
    flex: 1;
    width: 100%;
}
.Servicepagebody-title{
    font-size: 28px;
    line-height: 1.4;
    margin-top: 10.8rem;
    max-width: 600px;
}
.Servicepagebody.btn-groups{
    margin-top: 4.8rem;
}
.Servicepagebody .btn-groups .btn-item{
    font-size: 0.6rem;
    padding: 1.4rem 2rem;
}
.Servicepagebody .btn-groups .btn-item:first-child{
    border-color: var(--brown-color);
}
.Servicepagebody .btn-groups .btn-item:last-child{
    border-color: var(--dark-color);
}

@media screen and (min-width: 768px){
    .Servicepagebody-title{
        font-size: 40px;
    }
    .Servicepagebody .btn-groups .btn-item{
        font-size: 2.2rem;
        padding: 1.4rem 3.4rem;
    }
}

@media screen and (min-width: 992px){
    .Servicepagebody-title{
        font-size: 48px;
    }
}